/*======== CSS VARIABLES ========*/
:root {
  --brightGreen: #00D6A4; /* for headings and current nav class */
  --mainTurq: #03A9AC; /* for sub-headings and non-current nav class */
  --darkTurq: #006473; /* for background objects and onClick effect */
  --accTeal: #03D8CB; /* for background objects and onClick effect */
  --backgroundGrey: #212121;
  --navbarBlack: #0a0a0a;
  --fontColor: #f7f7f7;

  --animationDuration: 1.2s;

}



@media screen and (max-width: 480px) {

  html, body {
    font-size: 16px;
    color: var(--fontColor);
    line-height: 1.25;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }


  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 2000;
  }
  .navbar-toggle {
    height: 60px;
    background-color: var(--navbarBlack);
  }
  #navbar-brand {
    position: absolute;
    top: 30%;
    left: 1em;
    width: 70%;
    z-index: 2300;
  }

  
  .navbar-links {
    position: absolute;
    top: 3.7em;
    left: 0;
    width: 100%;
    background-color: #171717;
    border-left: .5em solid var(--brightGreen);
    list-style: none;
    padding-left: .5em;

    z-index: 1500;

    transition: all 0.2s ease-in-out;
  }
  .navbar-opened {
    padding-top: .5em;
    padding-bottom: .5em;
    transition: all 0.2s ease-in-out;

  }
  .navbar-opened > .nav-link a {
    display: block;
    opacity: 1;
  }


  .nav-link {
    display: block;
    padding: 0 1em;
  }
  .nav-link a {
    display: none; /*set to block on toggle*/
    opacity: 0; /*set to 1 after display change (100ms)*/
    text-decoration: none;
    font-weight: 200;
    font-size: 170%;
    color: var(--mainTurq);

    transition: all 0.2s ease-in-out 0.1s;
  }

  .nav-link a.current {
    font-weight: 300;
    color: var(--brightGreen);
  }
  .nav-link a:not(.current):hover {
    color: var(--accTeal);
  }


  #rw-logo-nav {
    width: 45px;
    top: .5em;
    right: 1em;
  }






  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
  /*|```````````````````````````|*/
  /*|  ||BURROW PAGE MOBILE     |*/
  /*|...........................|*/
  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .home {
    position: relative;
    margin-top: 0; 
    height: 100%;
    transition: all 0.1s;
  }

  .navbar-toggle-adjust { /*for .home class*/
    margin-top: 120px;
  }

  .home img {
    position: absolute;
  }

  .brand-display {
    position: absolute;
    top: 8.5em;
    left: 12.5%;
    width: 100%;
    height: auto;
    z-index: 400;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }
  #brand {
    display: none;
    width: 100%;
  }
  
  #rw-logo-large {
    display: block;
    width: 75%;
  }
  
   #diag-tube-left {
    width: 120%;
    top: -50px;
    left: -150px;
    z-index: 100;
  
    transition: all ease-in-out;
    transition-duration: var(--animationDuration);
    
  }
  
  .home #mini-tubes-left {
    width: 55%;
    top: 570px;
    left: 40%;
    z-index: 200;
    opacity: 0;
    transition: all ease-in-out 1.0s;
    /*initial load animation*/
    animation: mtlFade 1s ease-in-out forwards;
  }
  
  .home #cta-svg {
    width: 70%;
    top: 85%;
    left: 15%;
    z-index: 300;
    transition: transform ease-in 0.5s, opacity 1s;
  }
  
  #diag-tube-right {
    width: 120%;
    top: 200px;
    right: -150px;
    z-index: 100;
    transition: all ease-in-out;
    transition-duration: var(--animationDuration);
  }
  
  .home #mini-tubes-right {
    width: 55%;
    top: 80px;
    right: 30%;
    z-index: 200;
    opacity: 0;
    transition: all ease-in-out 1.0s;
    /*initial load animation*/
    animation: mtrFade 1s ease-in-out forwards;
  }
  
  .home #header-tube {
    width: 90%;
    top: 74%;
    right: 5%;
    z-index: 300;
    transition: 1.0s;
  }
  .home #header-tube-text {
    position: absolute;
    top: 74.5%;
    right: 0;
    z-index: 500;
    width: 100%;
    font-size: 170%;
    font-weight: 200;
    text-align: center;
  
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
    transition: transform 1.0s, opacity 0.4s;
  }
  





  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
  /*|```````````````````````````|*/
  /*|   ||WERKS PAGE MOBILE     |*/
  /*|...........................|*/
  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .werks {
    overflow-y: auto;
    transition: all 0.1s ease-in-out;
  }

  .werks-svgs #diag-tube-left {
    top: -16%;
    left: -20.75%; /*perfect*/

  }

  .werks-svgs #diag-tube-right {
    top: 50%;
    right: -21.5% /*perfect*/
  }

  .werks-svgs #mini-tubes-left {
    width: 85%;
    top: 20%;
    left: -10%;
    z-index: 300;
    opacity: 0;
    transition: all 1s;
    animation: mtrFade ease-in-out 1s forwards;
  }

  .werks-svgs #mini-tubes-right {
    width: 85%;
    top: 100%;
    right: -.75%;
    z-index: 300;
    opacity: 0;
    transition: all 1s;
    animation: mtlFade ease-in-out 1s forwards;
  }

  .werks-svgs #header-tube {
    width: 90%;
    top: 15%;  
    right: 5%;
    z-index: 300;
    transition: all 1.2s;

  }
  .werks-svgs #header-tube-text {
    position: absolute;
    top: 14.8%;
    right: 0;
    width: 100%;
    z-index: 500;

    font-size: 210%;
    font-weight: 200;
    text-align: center;

    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
    transition: transform 1.2s, opacity 0.4s;

  }

  .projects {
    position: absolute;
    z-index: 1000;
    top: 28%;

    opacity: 0;
    animation: fadeUp 0.8s ease-in-out forwards;
    transition: all 0.1s ease-in-out;
  }

  .projects-adjust {
    top: 55%;
  }

  .project-list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline; /*align-items sets the list heights to auto based of list size?*/
  }

  .list {
    width: 90%;
    list-style: none;
  }

  .list-header {
    font-family: "Lemondrop";
    font-size: 180%;
    color: var(--mainTurq);
  }


  .list > h5 {
    color: #cccccc;
    line-height: 1;
    font-weight: 200;
    padding: .2em 0 .35em 1em;

    margin: .5em 0 1em -.5em;
    border-left: 5px solid var(--brightGreen);
    border-bottom: 3px solid var(--brightGreen);
    border-radius: 35px;
  }

  .list > li {
    font-size: 125%;
    font-weight: 200;
    padding-left: .5em;
    line-height: 1.35;
  }

  a.list-link {
    text-decoration: none;
    color: inherit;
  }

  a.list-link:hover {
    color: var(--accTeal);
  }



  .thoughts {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.1s ease-in-out;
  }
  
  .thoughts-svgs {
    position: relative;
    height: 100%;
  }
  
  .thoughts-svgs img {
    position: absolute;
  }
  
  .thoughts-svgs #diag-tube-left {
    top: 05%;
    left: -18%; 
    transform: rotate(120deg);
  }
  
  .thoughts-svgs #diag-tube-right {
    top: -15%;
    right: -21.5%;
    transform: rotate(-60deg);
    transform-origin: 30%;
  }
  
  .thoughts-svgs #mini-tubes-left {
    width: 25%;
    bottom: 5%;
    left: 1%;
    z-index: 300;
    opacity: 0;
    animation: mtrLongFade ease-in-out 1s forwards;
  }
  
  .thoughts-svgs #mini-tubes-right {
    width: 25%;
    top: 10%;
    right: 2%;
    z-index: 300;
    opacity: 0;
    animation: mtlLongFade ease-in-out 1s forwards;
  }
  
  .thoughts-svgs #header-tube {
    width: 90%;
    top: 15%; 
    left: 5%;
    z-index: 300;
    transition: transform 1.0s;
  
  }
  .thoughts-svgs #header-tube-text {
    position: absolute;
    top: 14.7%;  
    left: 0;
    width: 100%;
    z-index: 500;
  
    font-size: 210%;
    font-weight: 200;
    text-align: center;
  
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  
  
  }
  
  .thoughts-blog {
    position: absolute;
    top: 25%;
    transition: all 0.1s ease-in-out;
  }
  .blog-adjust {
    top: 45%;
  }
  
  .blog-post {
    position: relative;
    
    width: 90%;
    margin: 0 auto 1em auto;
    padding: 1.5em 1em;
    z-index: 1000;
  
    background-color: #2D2D2D;
    border-radius: 35px;
    border: 3px solid var(--brightGreen);
    opacity: 0;
  }
  
  .bp-anim {
    animation: bpFade 0.5s ease-in-out forwards;
  }
  
  .post-extender {
    position: absolute;
    top: 17%;
    left: 3.5%;
    font-size: 170%;
    z-index: 1000;
  }
  
  .post-extender i {
    transition: all 0.2s ease-in;
  }
  
  .post-extender i:hover {
    color: var(--brightGreen);
  }
  
  .post-header {
    position: absolute;
    height: 75px;
    width: 90%;
    top: 0;
    left: 10%;
    z-index: 1000;
  }
  .blog-post h2 {
    font-size: 90%;
  }
  
  
  .post-title {
    display: inline-block;
    position: absolute;
  }
  .pt-hide {
    top: 15%;
    left: 10%;
  }
  
  .pt-ext {
    top: 1%;
    left: 10%;
  }
  
  .sub-title {
    font-weight: 200;
    font-size: 90%;
    position: absolute;
    top: 110%
  }
  
  .post-date {
    position: absolute;
    font-weight: 200;
  }
  .pd-hide {
    top: 57%;
    right: 6%;
  }
  .pd-ext {
    top: 3.75%;
    right: 6%;
  }
  
  .post-body {
    font-size: 80%;
    line-height: 1.4;
  }

  .pb-hide {
    margin-top: 0;
    height: 0px;
    opacity: 0;
    transition: 0.2s ease-in-out, opacity 0.0s;
  }
  
  .pb-ext {
    margin-top: 7%;
    height: inherit;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  


 
}